
.btn {
   background-color: #E6E6FA; /* Green */
  height: 50px;
  width: 150px;
  border-radius: 12px;
  border: 2px solid #FFEFD5;
}

h4 {
   font-family: "Courier New", Courier, monospace;
}
