
.btn {
   background-color: #E6E6FA; /* Green */
  height: 50px;
  width: 150px;
  border-radius: 12px;
  border: 2px solid #FFEFD5;

}

.nice{
   font-family:"Courier New",
   /* font-family: "Courier New", Courier, monospace; */
}

.nice2.0{
  font-family:"Courier New",
}
